---
layout: default
title: Trang chủ
pagination:
    enabled: true
    collection: posts
---
<div class="container bg-light container-border-radius py-3 px-4 my-lg-4 my-3">
    <div class="posts">
        <div class="card-columns col-md-12 ">
            {% for post in paginator.posts %}
                <div class="card shadow-sm mt-5">
                    <div class="card-header bg-transparent border-0" style="margin-bottom: -44px">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <img title="{{ post.title }}" class="card-position img container-border-radius shadow" src="{{ post.img-title }}" width="100%">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center"><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h5>
                        {% if post.tag != null %}
                            <i class="fas fa-tags font-weight-light mr-lg-1">
                                {% for multi-tag in post.tag %}
                                    <a class="post" href="/tag/{{multi-tag}}">
                                        <span>
                                            <small>
                                                #{{multi-tag}}
                                            </small>
                                        </span>
                                    </a>
                                    {% unless forloop.last %}, {% endunless %}
                                {% endfor %}
                            </i>
                        {% endif %}
                        <p>
                            <small>
                                {{ post.excerpt }}
                            </small>
                        </p>
                    </div>
                    <div class="card-footer border-0 bg-transparent d-flex justify-content-around">
                        <i class="fas fa-user-alt font-weight-light mr-lg-1">
                            <a href="#">
                                <span>
                                    <small>
                                        {{ post.author }}
                                    </small>
                                </span>
                            </a>
                        </i>
                        <i class="fas fa-clock font-weight-light mr-lg-1">
                            <a href="#">
                                <span>
                                    <small>
                                        {{ post.date | date_to_string }}
                                    </small>
                                </span>
                            </a>
                        </i>
                    </div>
                </div>
            {% endfor %}
            
            
        </div>
    </div>
</div>

<div class="container bg-light container-border-radius py-3 px-4 my-lg-4 my-3">
        <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">


    {% if paginator.total_pages > 1 %}
        <div class="pagination">
        {% if paginator.previous_page %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Mới nhất</a>
            </li>
        {% else %}
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li class="page-item px-1">
                    <em class="page-link text-dark">{{ page }}</em>
                </li>
            {% elsif page == 1 %}
                <li class="page-item px-2">
                    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item px-1">
                    <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <li class="page-item">
                <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Cũ nhất &raquo;</a>
            </li>
        {% else %}
        {% endif %}
        </div>
    {% endif %}

            </ul>
          </nav>

          
</div>