<div class="ui secondary segment menu">
  <a class="active item">
    <i class="github large icon"></i> Trang chủ
  </a>
  <a class="item">
    <i class="bug large icon"></i> Lỗi
  </a>
  <a class="item">
    <i class="bug large icon"></i> Lỗi
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Tìm kiếm...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      <i class="ellipsis vertical large icon"></i>
    </a>
  </div>
</div>

<div class="ui piled segment loading massive ">
  <div class="ui medium text loader">Không thể tải được gì...</div>
  <h1 class="ui header piled header">tranduclinh2067.github.io</h1>
  <p class="ui red header ui right aligned header">Ôi không!!! <br/> Mọi thứ đang rối tung lên...</p>
</div>