.border__rds--2px {
    border-radius: 2px;
}

.border__rds--4px {
    border-radius: 4px;
}

.border__rds--6px {
    border-radius: 6px;
}

.border__rds--8px {
    border-radius: 8px;
}

.border__rds--10px {
    border-radius: 10px;
}

// .over__350 {
//     height: 350px;
//     overflow: hidden;
// }

.simpleParallax {
    border-radius: 8px;
}