

.block-index {

    &-left, &-right {
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.082);
        position: relative;
    }

    &-left {
        animation: move 2 2s ease;
        // background: red;
        padding: 0;

    }
    
    &-right {
        animation: move 2 3s ease;
        height: 400px;
        // background: blue;
        overflow: hidden;
    }
}

#imgDemo {

    img {
        border-radius: 50%;
        width: 60px;
    }
}

@keyframes move {
    0% { 
        top: 0px;
        background: rgba(0, 0, 0, 0.082);
    }
    
    50% {
        top: 200px;
        background: rgba(0, 0, 0, 0);
    }

    100% {
        top: 0px;
        background: rgba(0, 0, 0, 0.082);
    }
}

@-moz-keyframes move {
    0% { 
        top: 0px;
        background: rgba(0, 0, 0, 0.082);
    }
    
    50% {
        top: 200px;
        background: rgba(0, 0, 0, 0);
    }

    100% {
        top: 0px;
        background: rgba(0, 0, 0, 0.082);
    }
}

@-webkit-keyframes move {
    0% { 
        top: 0px;
        background: rgba(0, 0, 0, 0.082);
    }
    
    50% {
        top: 200px;
        background: rgba(0, 0, 0, 0);
    }

    100% {
        top: 0px;
        background: rgba(0, 0, 0, 0.082);
    }
}


