.block-index {

    &-left, &-right {
        height: 400px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.082);
        position: relative;
    }

    &-left {
        animation: move infinite 5s ease;
        // background: red;
    }

    &-right {
        animation: move infinite 8s ease;
        // background: blue;
    }
}

.block-demo {
    -ms-overflow-style: none;  // Internet Explorer 10+
    scrollbar-width: none;  // Firefox
    height: 800px;
}
.block-demo::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

@keyframes move {
    0% { 
        top: 10px;
        background: rgba(0, 0, 0, 0);
     }
    
    50% {
        top: 200px;
        background: rgba(0, 0, 0, 0.281);
    }

    100% {
        top: 10px;
        background: rgba(0, 0, 0, 0);
    }
}

@-moz-keyframes move {
    0% { 
        top: 10px;
        background: rgba(0, 0, 0, 0);
     }
    
    50% {
        top: 200px;
        background: rgba(0, 0, 0, 0.281);

    }

    100% {
        top: 10px;
        background: rgba(0, 0, 0, 0);

    }
}

@-webkit-keyframes move {
    0% { 
        top: 10px;
        background: rgba(0, 0, 0, 0);
     }
    
    50% {
        top: 200px;
        background: rgba(0, 0, 0, 0.281);

    }

    100% {
        top: 10px;
        background: rgba(0, 0, 0, 0);

    }
}