@font-face {
  font-family: titleNar;
  src: url(../fonts/UTM-Gradoo.ttf) format('truetype');
  font-size: 16px;
}

.font-bar {
  font-family: titleNar;
}

@media (max-width: 361px) {
  .font-bar{
    font-size: 0.95rem;
  } 
}
@media (max-width: 320px) {
  .font-bar {
    font-size: 0.875rem;
  }
  .icon-narbar {
    width: 18px;
    height: 18px;
  }
}

header, footer {
  background: linear-gradient(to right, #2be280, #f3e852);
  background: -webkit-linear-gradient(to right, #2be280, #f3e852);
  background: -moz-linear-gradient(to right, #2be280, #f3e852);
  background: -o-linear-gradient(to right, #2be280, #f3e852);
}

.narbar-height {
  height: 42px;
}

.input-search {
  border-right: none;
  border-radius: 999px 0 0 999px;
  padding-left: 20px;
}
.outline-none {
  outline: none;
  box-shadow:none !important;
  border:1px solid rgba(204, 204, 204, 0) !important;
}
// #bottom-search {
//   border: none;
//   border-radius: 0 999px 999px 0;
// }