.pager {
    list-style: none;
    padding: 40px;
    li.previous {
        float: left;
    }    
    li.next {
        float: right;
    }
};

.category-post div h5 {
    display: inline-block;
    
}