$white: rgb(255,255,255);

@font-face {
  font-family: titleNar;
  src: url(../fonts/UTM-Gradoo.ttf) format('truetype');
  font-size: 16px;
}

body {
  // min-height: 75rem;
  background: rgb(240, 240, 240);
  min-width: 320px;
}
.text-white {
  color: $white;
}

.narbar-height {
  height: 42px;
}
.slide-border-radius {
  border: none;
  border-radius: 0 0 6px 6px;
}
.container-border-radius {
  border: none;
  border-radius: 8px;
}

.font-bar {
  font-family: titleNar;
}

.outline-none {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.backdrop-filter {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.425);
}
.input-search {
  border-right: none;
  border-radius: 999px 0 0 999px;
  padding-left: 20px;
}
#bottom-search {
  border: none;
  border-radius: 0 999px 999px 0;
}
//-
.bg-ad-views {
  background-image: url("../img/bg-wOlf.jpg");
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  height: 100%;
}

@media (min-width: 992px) {
}

@media (max-width: 992px) {
    .form-search-narbar {
      display: none;
    }
}
// @media only screen and (min-device-width: 320px) and (max-device-width: 576px) and (-webkit-min-device-pixel-ratio: 2) {
//     .font-bar {
//       font-size: 0.925rem;
//     }
//     .icon-narbar {
//       width: 20px;
//       height: 20px;
//     }
// }

@media (max-width: 768px) {
  .hidden-md {
    display: none;
  }
}

@media (max-width: 320px) {
  .font-bar {
    font-size: 0.925rem;
  }
  .icon-narbar {
    width: 20px;
    height: 20px;
  }
}