<!DOCTYPE html>
<html class="h-100" lang="vi">
 <!-- 
     iiiiiiiiiiii........................................................................................
iiiiiiiiiiii........................................................................................
iiiiiiiiiii.........................................................................................
iiiiiiiiii..........................................................................................
iiiiiiiii...........................................................................................
iiiiiiiii...........................................................................................
iiiiiiii...........................................................iji..iii.........................
iiiiiii...........................................................iji..ijij.........................
iiiiiii.....................................................iiiiiijijijjtidiii..i...................
iii.....................................................iitjtkddjitjdjkkkjkktt.iii..................
iii...................................................itkk$k$#$kdtkdk$$k$k$$ddittdi.................
iiii................................................t$kk###$$####$kd$##k#$##kktdt$i.................
i.............................................jijtjtkk$############$########$$kkd#t.................
i..........................................ijdkd$$$$$#######################$$$k$#di.ii.............
.........................................iii$$$$###############################$$#kjiki.............
.........................................itk$$$$$$$$$$$$$##$$$#################$$#$dtk..............
.......................................id$##$$$####$$$$########$$#################$k$d..............
......................................j$$#$$#########################################t.dj...........
.....................................ik##############################################kt$ki..........
....................................it###$###########################################$$#kii.........
.....................................d###################$$$$########################$##ddti........
....................................jt##########$$######$##$$$#########################$$$diii......
....................................jt$##########$$###$kkk$$$k$$$#######################$$ktdj......
....................................ik$#########$$$k$$$kdddk$k$$k$$##############$########$$kti.....
....................................ikk$#######$$kkkkk$kkdddkk$$$$$$########################$ti.....
..................................jtd$#########$$k$kkkkkkkkkkk$$k$$$########################kji.....
.................................itkdk$#######$kddkk$k$$$$$$$$$$$$$#########################diji....
................................ijdjijd$$###$kkdk$$$##$k$#######$$#########################$dti.....
................................iti.ijk$###ktdttdddk$$##$#################################$djii.....
................................ij..itk$$#djjjjjjjjtdk$###################################ktji......
.................................t..iidk$$iiiiiiiiiijtk$##################################$dii......
.................................j...jtk$j...........ijd$$$###############################dji.......
....................................iijdti............ijtk$$$#############################kjji......
......................................jiji.............itd$$$$$###########################$tiii.....
......................................j.ii..............jtd$$$$############################diii.....
......................................i.i...............itdkk$#############################dji......
........................................................iitdkk$############################kiii.....
.........................................................iijdkk$$###########################ii.i....
..........................................................iiitdk$$$$$#######################di..i...
............................................................iiijtkk$$#######################kiiiiiii
.............................................................iiijtdk$$$#####################kjiiiiii
..............................................................iiiijdk$$$####################kjiiiiii
..............................................................iiiiitd$$$####################kjjiiiii
.............................................................iiiiiijd$$$####################djjjjiii
............................................iiiiiiii............iiitdk$$#$#$################dtttjjjj
..........................................iiijtjjjiii..........iiiijdk$$$$$$$$$$$tjtk######$dtttttjj
.....................................ti.ijdddttii.iiii..........iiijtk$$$$$$$kkj.ijiid#####$dttttttt
.....................................tjijddtjiii................iiijtd$$$$$$dti.jdji.ik####$dttttttt
......................................iiijjiii..................iiiijd$$$$$ktjitkj....t####$ddttdttt
.......................................iiiiiii...................iiijtk$$$kdtjitt.....j$###$dtttdttt
........................................tiiijtkkjjjiiii..........iiiitd$$$dttjidi.....i$###ktttttttt
........................................jj..ijk$iiijtji..........iiiijtk$kdtttjkt...i.i$##$dddtttttt
.........................................i...itk................iiiiijtdkkdttjjdti..i.j###$ddttttttt
.........................................i....ijii............iiiiiiijttddtjjitji...i.t###kdddtdtdtt
...............................................ii.............iiiiiijjttddtji.dd......k##$ddddtttttt
................................................i.............iiiiiijjtttttji.dkj....i$##kdddddttttt
..............................................................iiiiijjjtttttti.ddj....d###ddddddddttt
...............................................................iiiijjtttttttiddi....i$##$dddddddddtt
..............................................................iiiijjjjtttttttd......k###kddddtddddtt
..............................................................iiiijjjtttttttt......t####dddddddddtdt
.............................................................iiiiijjjttttttdj.....t$###kdddddtdddddt
..............................................................iiiijjjttttttdj....tkk###kdddddddddddt
.............................................ii..............iiiijjjjtttttddt..itk$k$##kddddddddtddd
.............................................ii...............iiijjjjttttdddddtdkkkk$##kdddddddddddd
............................................iii...............iiiijjjttttddddkkdkkkk$##kdddddddddddd
........................................ijtiijj..............iiiiijjjttttddddkkddkkk$#$kdddddddddddd
.........................................iijijj..............iiiiijjjtttdddkkkdddkkk$#$kdddddddddddd
...........................................i.................iiiiijjjttddddkkddddkkk$$$kdddddddddddd
...........................................i................iiiiijjjjttddddkkddddkkk$$kkkddddddddddd
...........................................i................iiiiijjjjtttddkkkddddkkkk$kkdddddddddddd
...........................................................iiiiiijjjjttdddkkddttddkkk$kddddddddddddd
...........................................iii.ii.......i.iiiiiijjjjjttddkkkdtttdkkkk$kkdkdddddddddd
...........................................jtttjiii..iiiiiiiiiiijjjjttddkkkddtttddkkk$$kkddddddddddd
.............................................jttttjiiiiiiiiiiiijjjjtttdkkkdttjtttdkkk$$kkkkddddddddd
.............................................iiiiiiiiiiiiiiijjjjjttttddkkddtjjjtddkkkk$kkkkkkddddddd
.............................................ijjiiiiiiiiiijjjjjtttttddkdddtjjjjtddkkkk$$kkkkkkkddddd
.............................................ijjjiiiiiiiijjjjjtttttddddddtjiijjtdddddkk$kkkkkkkkdddd
.iii...........................................ijiiiiiiiiijjjttttttttttttjiiijjtdkddddk$$kkkkkkkdddd
..ii.i..........................................iiiiiiiiijjjttttttttttttjiiiijjtdkddddkk$$$$kkkkkddd
iiiiiii........................................jdiiiiiiiiijjttttttttttjjiiiiiijtddddttdkk$$#$kkkkddk
iiiiiiii....................................id$$$tiiiiiiijjtddtttttttjjjiiiiiijtdddtttddkkk$#$kkkddk
iiiiiiiii................................id$$$$##$tiiiijjjtddddddtjjjjjiiiiiijtdkdttttttdddk###$kkkk
iiiiii.i..............................id$$$$$$####$kdttttdkkdkdtjjiiiiiiiiiiijtdkdtttttttttd$####$kd
iiiiii.i.......i....................id$$$$$$$#####$##$$$$$$tttdtjiiiiiiii.iiijtdddtttjjttttt######$k
iiiiii.i...........................t$#$#$##$###$#####$#$$$$jjjjtjiiiiiii..iijjdddtjjjjjjjjjd########
iii............i..................k###$$##$######$###$#$$$$jjjijjiiiiii...iijtddttjjjjjjjjjk########
ii...............................k####$$##$###$$$###$$#$$$$iiiiiiiiiii.....ijtddtjjjjjjjjjj$########
i..............i...............ik#####$########$$###$##$$$$iiiiiiiiiii....iijtdtjjiijjjjjjt#########
.....i..........i.............i$#####$$#$$####$$$####$#$$$#iiiiiiiiii.....iijttjjiiiijjjjjk#########
i...............i.............k$#####$##$####$$$####$$#$$$#iiiii.iiiii....iitttjiiiiiijjij##########
i...............i............t$$#####$##$#####$$$$$#$##$$##ji.i....iiii...ijttjjiiiiiiiiid##########
.............................$$####$###$$$#####$$$$#$##$$$$jii.......ii...ijttjiiiiiiiiii$##########
i..ii...........i...........t$$####$####$#####$$$$$#$#$$$$#tiii........i..ijttiiiiiiiiiit###########
iiiii.i.......i.............k$$########$######$$$$$$$###$$#tiiii..i....i..ijttiii...iiiik###########
iiiiii........i............i$$$###############$$#$$$#$$#$$#tiiii...i...i..ijtjiii....iij############
iiiiii........i............d$$$########$#####$$$#$$#$$$##$$tiiii...i...i..ijjiiiiiii.iik###$########
iiiiiii.......i............$$$$##############$$##$$##$$#$$$dii.....ii..i..ijiiiiiiiiiij#############
iiiiiii....i.i............j$$#$##############$$##$$##$$$###ki.......ii....iiiiiiiiiiii$#############
iiiiiii...................t$$#$######$#######$$##$###$$$$$$$i........i.....iiiiiiiiiid##############
iiiiii..i...i.............d#$#$######$#######$$#$####$$$#$##t.................ii..iij$##############
  -->
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/assets/img/iweb.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/jsxgraph.css">
    <link href="//cdn.staticaly.com/gh/hung1001/font-awesome/268ad89/css/all.css" rel="stylesheet" type="text/css" />
    <!-- JSXGraph is a cross-browser JavaScript library for interactive geometry,
        function plotting, charting,
        and data visualization in the web browser. -->
    <script src="/assets/js/jsxgraphcore.js"></script>
</head>

<body>
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="module" src="/assets/js/main.js"></script>
    <!-- <script src="/assets/js/popper.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>