---
layout: default
title: Trang chủ
---
<div class="container bg-light container-border-radius py-3 px-4">
    <div class="posts">
        {% for post in site.posts %}
            <article>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p class="text-dark">
                    Published on {{ post.date | date_to_string }}
                    <small>
                        {{ post.excerpt }}
                    </small>
                </p>
                
            </article>
        {% endfor %}
    </div>
</div>