---
layout: default
title: Cá nhân
---
<!-- <div class="container">
        <article>
            <h3 class="mt-4 text-link">
                {{ content }}
            </h3>
        </article>
</div> -->
<div class="main">
    <div class="profile-content "> 
        <div class="container blue mt-4">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto mt-4">
                    <div class="profile mt-5 mb-4 container-border-radius shadow">
                        <div class="avatar">
                            <img src="/assets/img/avt.png" alt="Error Img" class="img-raised rounded-circle img-fluid shadow-sm">
                        </div>
                        <div class="name text-center">
                            <h3 class="title">Trần Đức Lĩnh</h3>
                            <h6>Front-End</h6>
                            <div class="connect">
                                <a href="https://www.facebook.com/100025040414692" class="btn btn-just-icon btn-link">
                                    <img src="/assets/svg/fb.svg" height="20">
                                </a>
                                <a href="https://github.com/higithub97" class="btn btn-just-icon btn-link">
                                    <img src="/assets/svg/github.svg" height="20">
                                </a>
                                <a href="https://twitter.com/kulinhz" class="btn btn-just-icon btn-link">
                                    <img src="/assets/svg/twitter.svg" height="20">
                                </a>
                            </div>
                            <div class="cv mt-1">
                                <a href="#" class="btn btn-just-icon btn-link">
                                    <img src="/assets/svg/cv.svg" height="40">
                                </a>
                            </div>
                        </div>
                        <div class="pb-2 text-center">
                            <p>" Không có điều gì xảy ra cho đến khi bạn hành động. " </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>